<% if (user) { %>
    <h1>Holla <%= user.name %> </h1>

    <body>
        <!-- link to the GET matches -->
        <li><a href="/matches">Matches</a></li>

        <li><a href="/createTour">Create Tournament</a></li>

        <li><a href="/joinTour">Join Tournament</a></li>

        <li><a href="/tournamentinfo">Tournament Informations</a></li><br>  
    
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
        
    </body>

<% } else { %>
    <p>You are not logged in. Please <a href="/login">login</a> to access this page.</p>
<% } %>





