<% if (user) { %>
    <h1>Holla <%= user.name %> </h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>

    <body>
        <button onclick="assignOrganizer()">Create Tournament</button>
    
        <button onclick="assignCompetitor()">Join Tournament</button>

        <!-- link to the get matches -->
        <li><a href="/matches">Heh</a></li>
    
        <script>
            function assignOrganizer() {
                // Send a POST request to the server to add the "organizer" role
                fetch('/update-roles', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        roles: 'organizer',
                        tournaments: 'ABC Tournament'
                    }),
                    credentials: 'same-origin'
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to add role "organizer"');
                    }
                    console.log("Role 'organizer' added successfully");
                })
                .catch(error => {
                    console.error(error.message);
                });
            }
    
            function assignCompetitor() {
                // Send a POST request to the server to add the "competitor" role
                fetch('/update-roles', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        roles: 'competitor',
                        tournaments: 'ABC Tournament'
                    }),
                    credentials: 'same-origin'
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to add role "competitor"');
                    }
                    console.log("Role 'competitor' added successfully");
                })
                .catch(error => {
                    console.error(error.message);
                });
            }

        </script>
        
        <!-- testing
        
        
        <button id="redirectButton">Redirect to Another Page</button>
        
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            const redirectButton = document.getElementById('redirectButton');
        
            redirectButton.addEventListener('click', function() {
                // Redirect to another page
                window.location.href = 'gameinfo.ejs';
            });
        }); -->

        </script>  

    </body>

<% } else { %>
    <p>You are not logged in. Please <a href="/login">login</a> to access this page.</p>
<% } %>





