<h1>LOGIN</h1>

<!--failureFlash message-->
<% if (messages.error){ %>
    <%= messages.error %>
<% } %>

<form action="/login" method="POST">

<!--email section-->
<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
</div>

<!--password section-->
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
</div>

<!--create a button-->
<button type="submit">Login</button>
</form>

<!--anchor the register page to login page-->
<a href="/register"> Register </a>