<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Players Form</title>
</head>
<body>

<h2><%= tournament.name %></h2>
<h4><span id="playerCount">0</span> players added</h4>
<h3>Add Players Form</h3>

<form id="players-form" action="/registerplayer?id=<%= tournament.id %>" method="POST">
  <div id="players-container">
    <div class="player-input">
      <label for="player-email">Player Email:</label>
      <input type="email" name="player-email[]" required>

            <!-- the error type will be included here to be popped out -->
      <% if (error && error === 'email-exists') { %>
        <p style="color: red;">Email already being registered. Make sure to submit different player email.</p>
      <% } else if (error && error === 'unknown') { %>
        <p style="color: red;">An unknown error occurred. Please try again later.</p>
      <% } %>

      <label for="player-name">Player Name:</label>
      <input type="text" name="player-name[]" required>

      <!-- removePlayer(this) basically remove the div for this particular player -->
      <button type="button" onclick="removePlayer(this)">Remove Player</button>
    </div>
  </div>
  <!-- addPlayer() will append a new div - player-input for new player registration -->
  <button type="button" onclick="addPlayer()">Add Player</button>
  <button type="submit">Submit</button>
  <!-- Hidden input field to store the player count -->
  <input type="hidden" id="playerCountInput" name="player-count" value="1">
</form>

<script>
let playerCount = 1; // Initialize player count to 1 for the initial player

function addPlayer() {
  const container = document.getElementById('players-container');
  const playerInput = document.createElement('div');
  playerInput.classList.add('player-input');
  playerInput.innerHTML = `
    <label for="player-email">Player Email:</label>
    <input type="email" name="player-email[]" required>
    <label for="player-name">Player Name:</label>
    <input type="text" name="player-name[]" required>
    <button type="button" onclick="removePlayer(this)">Remove Player</button>
  `;
  container.appendChild(playerInput);
  
  // Increment player count
  playerCount++;
  document.getElementById('playerCount').textContent = playerCount;
  // Update hidden input field value
  document.getElementById('playerCountInput').value = playerCount;
}

function removePlayer(button) {
  const playerInput = button.parentElement;
  playerInput.remove();
  
  // Decrement player count if greater than 1
  if(playerCount > 1) {
    playerCount--;
    document.getElementById('playerCount').textContent = playerCount;
    // Update hidden input field value
    document.getElementById('playerCountInput').value = playerCount;
  }
}
</script>

</body>
</html>
